body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  width: 100%;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.colonne {
  background: rgb(255, 255, 255);
  overflow: hidden;
  padding: 10px 20px 10px 10px;
  margin-right:20px;
  float: left;
  width: 180px;
  border: 1px solid #D7D7D7;
}

.bloc {
  background-color:#fff;
  width:30%;
  float:right;
  display:block;
  position:relative;
  float:right;
  padding:5px;margin-top: 0px;
  border-radius: 10px;
  border: 2px solid #D4DAE8;
  margin-left: 15px;
}
.presentation {
  text-align: center;
  border-top: 1px solid #DFDFDF;
  margin-bottom:10px;
}
.droite {
  text-align: left; 
  border-top: 1px solid #DFDFDF;
  margin-bottom:10px;
}
h1 {
  color:#fa8100;
}
.titre2 {
  color:#019cf6;
}
.action {
  margin: 30px;
}
.titre3 {
  color:#009af6;
}
.charte {
  color:#ce0097;
}
.bienvenue {
  color: #00cb98;
}
p {
  font-size:14px;
}

form.form-forum {
    display: table;
}

div.form-EntreFormulaire {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
